/* Nerdy secret: You can use "less" below! Don't tell anybody... */

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.github-profile {
	margin: 1rem; 
}

.github-profile img {
  width: 75px;
}

.github-profile .info {
  display: inline-block;
  margin-left: 12px;
}

.github-profile .name {
  font-size: 1.25rem;
  font-weight: bold;
}

form {
	border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.header {
	text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}